html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}

.glowing {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    background: #111;
}

.glowing::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
    z-index: -1;
}

.glowing::before {
    content: "";
    background: linear-gradient(45deg,
        #ff0000, #ff7300, #FFFB00, #48FF00,
        #00FFD5, #002BBF, #FF00C8, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition:opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.glowing:hover::before {
    opacity: 1;
}

.glowing:active::after {
    background: transparent;
}

.glowing:active {
    color: #000;
    font-weight: bold;
}